*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-color: #dbdee2;
    color: rgb(79, 187, 214);
    padding: 30px;
}
span{
    border-radius: 50%;
    background-color :rgb(128, 107, 107);
    padding: 10px 15px;
    color: #151616;
}
